table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #444444;
    color: #DDD;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 8px;
    overflow: hidden;
    
}

h2
{
    margin-top: 20px;
    font-weight: normal;
    font-size: 35px;
    color: #FFD700;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
}
th, td
{
    border: 2px solid ;
    padding: 8px 12px;
}

th
{
    background-color: #DDD;
    color: black;
    text-align: left;
    padding: 12px 15px;
    font-size: 28px;
}

.delete
{
    background-color: #e74c3c;
}

.delete:hover
{
    background-color: #c0392b;
}

button
{
    margin: 5px;
    padding: 5px 10px;
    background-color: #007BFF;
    border: none;
    color:wheat;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056B3;
}

.titulo 
{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    font-weight: bold;

    background: linear-gradient(to right, #FF0000, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

.dados-backend
{
    font-size: 25px;
}

form {
  max-width: 600px;
  margin: 20px auto 40px;
  padding: 20px;
  background-color: #2c2c2c;
  border-radius: 8px;
  color: #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

label {
  display: block;
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  color: #ffd700;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 90%;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1.5px solid #555;
  background-color: #444;
  color: #eee;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  outline: none;
  border-color: #ffd700;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #28a745;
  color: wheat;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #1e7e34;
}
